doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel='stylesheet', href='/css/cinema.css')
    title World Wide Web
    script(src="previewPlayer.js")
    script(src="animationContext.js")
    script(src="main.js")
    script(src="purePlay.js")
    script(src="fade.js")
    script(src="merge.js")
    script(src="black-and-white.js")
    script(src="convolutedFilter.js")
    script(src="svgOverlay.js")
    script(src="oldFilm.js")
  body(onload="pageLoad()")
    block content