doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title World Wide Web
    script(src="previewPlayer.js")
    script(src="animationContext.js")
    script(src="main.js")
    script(src="purePlay.js")
    script(src="fade.js")
    script(src="merge.js")
    script(src="svgOverlay.js")
  body(onload="pageLoad()")
    
    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
