extend default

block content
  video(id="video" src="" controls="true")
  video(id="video2" src="" controls="true")
  //- video(id="video3" src="" controls="true")
  br
  canvas(id="c1" width="400" height="225")
  br
  input(id="slider" type="range", name="slider" style="width:500px" min="0" max="1000" value="0")
  br
  button(onclick="togglePlay()").
    play
  br
  //- Animated text with SVG
  svg(id="svg" style="display:none" width="300px" height="50px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1")
    //- rect(x="0" y="0" width="300px" height="50px" fill="black" stroke="black" stroke-width="1")
    path(id="path2")
      animate(attributeName="d" from="m0,30 h0" to="m0,30 h1100" dur="3s" begin="0s" repeatCount="indefinite")
    text(font-size="26" font-family="Montserrat" fill='hsla(36, 95%, 85%, 1)')
      textPath(xlink:href="#path2").
        Animated Typing
  //- br
  
  br
  //- img(id="image" alt="", srcset="")
  //- canvas(id="c2" width="320" height="240")
  //- canvas(id="c3" width="320" height="240")