doctype html
html
  head
    title Socket Video page
    script(src="socketVideoIndex.js")
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")

  div.
  video(id="video" controls width="480px" height="270px")
  br
  canvas(id="c1" width="400" height="225")